.container {
    background-color: lavender;
    height: 70px;
    display: flex;
    justify-content: center;
    color: white;
}

.navbar{
    width: 700px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}